/*
Colors used: 
Primary Color (White): #FFFFFF;
Secondary Color (Black): #000000;
Accent Color (Green): #9DD674;
*/
header {
    text-align: unset;
    padding: 20px 0 13px;
}
nav {
    display: inline-block
}
nav {
    width: auto;
    float: right;
    margin-top: 4px;
}
body {
    background-color: #FFFFFF;
    font-family: 'Poppins', san-serif;
    font-size: 16px; /* Sets font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
}
h1, h2, h3, h4, h5 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 600
}
h2 {
    font-size: 2.75em;
    font-weight: 600;
}
h3 {
    font-size: 2.25em;
    font-weight: 500;
}
h4 {
    font-size: 2.25em;
    font-weight: 400;
}
h5 {
    font-size: 2.75em;
    font-weight: 400;
}
img {
    width: 100%;
}
.profile-img {
    width: 60%;
    padding-top: 80px;
}
.header-img {
    width: 40%;
    padding: 20px;
    text-align: center;
}
a {
    color: #000000;
}
a:hover {
    color: #9DD674;
    text-decoration: underline;
}
a:visited {
    color: #000000;
    text-decoration: underline;
}
a:active {
    color: #9DD674;
}
a:hover,
a:focus {
    color: #9DD674;
    text-decoration: underline;
}
.button {
    display: inline-block;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #FFFFFF;
    transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
}
.button:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
}
.button:active {
    opacity: 0.8;
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: #9DD674;
    text-transform: none;
    border: 2px solid #9DD674;
}
.button.contact:hover {
    background-color: #9DD674;
    color: #FFFFFF;
}
.button.contact.active {
    background-color: #9DD674;
    color: #FFFFFF;
}
* {
    box-sizing: border-box;
}
/* Layout Styling */
.container { 
    padding: 0 15px;
}
.row {
    margin: 25px 0;
}
#hero h1 {
    text-align: center;
}
#hero p {
    text-align: center;
}
#work-page h2 {
    text-align: center;
}
#work-page h4 {
    text-align: left;
    font-size: 20px;
}
#contact {
    text-align: center;
}
.header h5 {
    max-width: 250px;
}
header {
    display: inline-block;
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    box-shadow: 1px 12px 13px -2px rgba(176,176,176,0.25);
-webkit-box-shadow: 1px 12px 13px -2px rgba(176,176,176,0.25);
-moz-box-shadow: 1px 12px 13px -2px rgba(176,176,176,0.25);
    position: fixed;
    width:100%; 
}
.logo {
    max-width: 100px;
}
.logo-img {
    width: 300px;
    height: auto;
}
.alodia-img {
    max-width: 100%;
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000
}
nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000
}
nav > ul > li > a:active {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #9DD674
}
nav > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #9DD674
}
#hero {
    background-color: #FFFFFF;
    padding: 20px 0;
    display: inline-block;
    width: 100%
}
main {
    padding-top: 99px;
}
/* About Page */
#about-page h1 { 
    text-align: center;
}
#about-page p {
    text-align: center;
}
#about-page h3 {
    text-align: center;
}
#about a {
    text-align: center;

}
/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    .col-md-1 {
        width: 100%;
        float: left;
    }
    .col-md-6 {
        width: 50%;
        float: left;
    }
    [class*="col-"] {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    body { 
        font-size: 13px;
    }
    #hero span {
        display: block;
    }
    #about-page h3 {margin-top: 0;}
    #work-page h4 {margin-top: 0;}
}
/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    .col-lg-1 {
        width: 100%;
        float: left;
    }
    .col-lg-5 {
        width: 41.66%;
        float: left;
        padding: 15px;
    }
    .col-lg-6 {
        width: 50%;
        float: left;
    }
    .col-lg-7 {
        width:58.33%;
        float: left; 
        padding: 15px;
    }
}
/* Ray the Sun Animation */
.svg.image {
    animation: rotate 2s infinate;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
   to {
        transform: rotate(360deg);
    }
}
